:root{

    font-size: 16sp;
    margin: 16dp;
}

body{
	margin: 1rem;
	color: #fff;
	background-color: #222;
	font-family: 'Segoe UI', sans-serif;
}

.jumbotron {
    background-color: #303030;
    }